*
{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    color: #000;
    box-sizing: border-box;
}

iframe
{
    border: none;
}

img
{
    max-width: 100%;
}

.block_image
{
    display: block;
}

.small_spot_image,
.wide_photo_caption,
.food_menu_small
{
    display: none;
}

.not_underlined
{
    text-decoration: none;
}

.nobr
{
    display: inline-block;
    color: inherit;
}

.content_wrapper
{
    max-width: 840px;
    margin: 0 auto;
    padding: 0 20px;
}

.content_title
{
    font-size: 33px;
    font-weight: 700;
    color: #030303;
    margin: 0 0 20px;
}

.content_title.block_title
{
    margin: 0 0 16px;
}

.content_text
{
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    margin: 0 0 22px;
}

.content_text.limited_with
{
    max-width: 600px;
}

.video_wrapper
{
    position: relative;
    cursor: pointer;
}

.video_wrapper:hover .play_button
{
    transform: translate(-50%, -50%) scale(1.1);
}

.play_button
{
    transition: transform 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 134px;
    height: 134px;
    background: url('../images/play-button.svg');
    top: 50%;
    left: 50%;
}

.video_duration
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 700;
    font-size: 20px;
    line-height: 1;
}

.main_info_section .video_wrapper,
.dancing_section .video_wrapper
{
    max-width: 800px;
    padding-bottom: 56.25%;
}

.video_wrapper .video_frame,
.video_wrapper .video_poster
{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video_wrapper .video_poster,
.video_wrapper .play_button,
.video_wrapper .video_duration
{
    display: none;
}

.video_wrapper.custom_play_button .video_poster,
.video_wrapper.custom_play_button .play_button,
.video_wrapper.custom_play_button .video_duration
{
    display: initial;
    position: absolute;
}

.video_caption
{
    font-size: 16px;
    line-height: 20px;
    margin-top: 7px;
}

.block_with_background
{
    overflow-x: hidden;
    position: relative;
}

.block_with_background.girl_jumping_wrapper
{
    overflow-y: hidden;
    background: url(../images/bg-footer.png) no-repeat bottom center;
}

.blue_spot
{
    position: absolute;
    width: 910px;
    top: 49px;
    left: 50%;
    transform: translateX(-7.4%);
    z-index: -1;
}

.purple_spot
{
    position: absolute;
    width: 1354px;
    top: -19px;
    left: 50%;
    transform: translateX(-68.4%);
    z-index: -1;
}

.yellow_spot
{
    position: absolute;
    width: 1086px;
    top: -2px;
    left: 50%;
    transform: translateX(-15%);
    z-index: -1;
}

.photo_caption_wrapper
{
    display: flex;
}

.photo_caption_wrapper.right
{
    justify-content: flex-end;
}

.photo_caption
{
    font-size: 16px;
    line-height: 20px;
    margin-top: 8px;
}

.photo_caption.application_caption
{
    line-height: 21px;
}

.photo_caption_title
{
    font-weight: 700;
}

.photo_caption_title.single_line
{
    display: block;
}

.photo_caption.limited_width
{
    width: 381px;
}

.new_skills_title
{
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    margin: 0;
}

/* Main info */
.main_info_section
{
    margin-top: -43px;
    margin-bottom: 94px;
}

.block_with_notice
{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.text_part
{
    max-width: 600px;
    margin-right: 20px;
}

.top_block_video
{
    margin-top: 28px;
}

/* 15 minutes notice */
.notice_15_minutes
{
    width: 160px;
    flex-shrink: 0;
    margin-top: -7px;
}

.notice_15_minutes .fifteen_minutes
{
    display: block;
    margin-left: 9px;
}

.notice_15_minutes .minutes_text
{
    color: #FF9516;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    margin: 0;
    text-align: center;
}

.notice_15_minutes .trip_details_text
{
    text-align: center;
    font-size: 16px;
    line-height: 20px;
}

/* Different shifts */
.shifts_section
{
    padding-bottom: 55px;
}

.different_shifts
{
    margin-bottom: 48px;
}

/* Details with photo */
.details_with_photo
{
    display: flex;
    justify-content: space-between;
    margin-top: -10px;
}

.details_with_photo .details_wrapper
{
    width: 340px;
    margin-right: 20px;
    padding-top: 68px;
}

.details_with_photo .photo_wrapper
{
    width: 380px;
    flex-grow: 0;
}

.details_with_photo .photo_wrapper img
{
    display: block;
}

/* Dancing */
.dancing_section
{
    margin-bottom: 0;
}

.details_with_photo.dancing
{
    justify-content: flex-start;
    margin-top: -31px;
}

.details_with_photo.dancing .details_wrapper
{
    margin-right: 0;
    padding-top: 88px;
}

.details_with_photo.dancing .photo_wrapper
{
    margin-right: 40px;
}

/* Friendship */
.friendship_section
{
    padding-top: 131px;
    margin-top: -161px;
    margin-bottom: 29px;
}

.friendship_section .details_wrapper
{
    width: 380px;
}

/* Comfort */
.comfort_section
{
    margin-bottom: 193px;
}

.comfort_section .content_wrapper
{
    position: relative;
    margin-bottom: 46px;
}

.comfort_section .content_text
{
    max-width: 560px;
}

.small_orange_spot
{
    padding: 49px 47px 10px 92px;
    width: 317px;
    height: 312px;
    background: url('../images/orange-spot.png') no-repeat;
    position: absolute;
    top: 33px;
    right: -39px;
}

.small_purple_spot
{
    padding: 61px 58px 50px 81px;
    width: 297px;
    height: 303px;
    background: url('../images/purple-spot.png') no-repeat;
    position: absolute;
    bottom: -140px;
    left: 160px;
}

.icon_bottle
{
    width: 48px;
    height: 98px;
    margin: 0 0 9px 59px;
    background: url('../images/icon-bottle.svg') no-repeat;
}

.icon_washing_hands
{
    width: 74px;
    height: 80px;
    margin: 0 0 19px 39px;
    background: url('../images/icon-hand.svg') no-repeat;
}

.wide_photo_wrapper
{
    max-width: 1280px;
    margin: 0 auto;
}

.wide_photo_wrapper.bottom
{
    position: relative;
    margin: 30px auto 0;
}

.spot_text
{
    color: #fff;
    font-size: 16px;
    line-height: 20px;
}

/* Food menu */
.food_menu_section
{
    margin-bottom: 100px;
}

.food_menu_section .content_wrapper
{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 0;
    position: relative;
}

.food_menu_section .description
{
    width: 510px;
}

.food_menu_section .menu_wrapper
{
    width: 100%;
    margin-top: 24px;
}

.sticker_wrapper
{
    position: absolute;
    right: 8px;
    top: 30px;
    width: 298px;
}

/* Adventures */
.adventures_section
{
    margin-bottom: 24px;
}

.adventures_section .content_wrapper
{
    display: flex;
    justify-content: space-between;
}

.adventures_section .description
{
    width: 580px;
}

.adventures_section .notice
{
    width: 186px;
}

.adventures_section .notice_description
{
    font-size: 16px;
    line-height: 21px;
    margin-top: -28px;
}

.adventures_section .notice_image
{
    margin-top: -39px;
    max-width: none;
    margin-left: -17px;
    margin-bottom: -3px;
}

.adventures_section .notice_title
{
    display: block;
    font-weight: 700;
}

/* Reconstruction */
.reconstruction_section
{
    margin-bottom: 42px;
}

/* Painting */
.painting_section
{
    display: flex;
    margin-bottom: 21px;
}

.painting_section .painting
{
    width: 392px;
    margin-right: -24px;
    z-index: 1;
}

.painting_section .theater
{
    width: 490px;
    margin-left: -69px;
    margin-top: -14px;
    margin-right: -25px;
    position: relative;
}

.painting_section .theater img
{
    max-width: none;
}

.painting_section .theater .photo_caption
{
    position: absolute;
    left: -19px;
    bottom: 232px;
    width: 250px;
}

.picture_frame
{
    margin-bottom: 31px;
}

.painting .photo_caption
{
    max-width: 234px;
}

/* Activities */
.activities_section
{
    position: relative;
    margin-bottom: 62px;
}

.activities_section .photo_caption_wrapper
{
    margin-bottom: 45px;
}

.activities_section .splash
{
    position: absolute;
    width: 593px;
    height: 438px;
    bottom: -109px;
    left: -181px;
    background: url('../images/splash-v2.png') no-repeat;
}

/* Music */
.music_section
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.music_section .music
{
    width: 525px;
}

.music_section .music img
{
    margin-left: -44px;
    margin-top: 17px;
}

.music_section .music .photo_caption
{
    width: 265px;
}

.music_section .cartoons
{
    width: 240px;
}

.music_section .cartoons img
{
    margin: 16px 0 10px -31px;
    max-width: none;
}

.music_section .cartoons .photo_caption
{
    margin-top: 10px;
}

/* Robotics */
.robotics_section
{
    position: relative;
    margin-bottom: 125px;
}

.lego
{
    position: absolute;
    width: 398px;
    height: 409px;
    bottom: -87px;
    right: -186px;
    background: url('../images/lego.png') no-repeat;
}

/* Teachers */
.teachers_section
{
    background: url('../images/bg-teachers.png') no-repeat bottom center;
    margin-bottom: 106px;
}

.teachers_section .content_title,
.teachers_section .leader_description,
.teachers_section .leader_name,
.teachers_section .teacher_description,
.teachers_section .teacher_name,
.teachers_section .photo_caption,
.teachers_section .photo_caption_title,
.teachers_section .nobr
{
    color: #fff;
}

.teachers_section .content_title
{
    position: absolute;
    top: 98px;
    left: 61px;
    line-height: 37px;
}

.teachers_section .leader_description
{
    position: absolute;
    top: 285px;
    left: 61px;
    width: 215px;
}

.teachers_section .leader_name
{
    position: absolute;
    left: 61px;
    bottom: 32px;
}

.teachers_section .teacher_description
{
    position: absolute;
    right: 75px;
    top: 285px;
    width: 212px;
}

.teachers_section .teacher_name
{
    position: absolute;
    width: 210px;
    right: 77px;
    bottom: 32px;
}

.teachers_section .content_wrapper
{
    position: relative;
    max-width: 1280px;
}

.teachers_photo
{
    display: block;
    margin: 0 auto;
}

.teachers_section .photo_caption
{
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 23px;
}

/* Safety */
.safety_section
{
    margin-bottom: 122px;
}

.safety_features
{
    display: flex;
    justify-content: space-between;
    margin-top: 61px;
}

.safety_feature_title
{
    font-weight: 700;
    margin: 0;
}

.safety_feature_text,
.safety_feature_title
{
    font-size: 18px;
    line-height: 23px;
}

.mosquito
{
    width: 228px;
    margin-right: 26px;
}

.first_aid
{
    width: 248px;
}

.guard
{
    width: 245px;
}

.mosquito_icon
{
    width: 132px;
    height: 131px;
    background: url('../images/icon-mosquito.png') no-repeat;
    margin-bottom: 18px;
    margin-left: -6px;
}

.first_aid_icon
{
    width: 129px;
    height: 130px;
    background: url('../images/icon-first-aid-post.png') no-repeat;
    margin-top: 1px;
    margin-bottom: 18px;
    margin-left: -6px;
}

.guard_icon
{
    width: 135px;
    height: 129px;
    background: url('../images/icon-guard.png') no-repeat;
    margin-top: 2px;
    margin-bottom: 18px;
    margin-left: -6px;
}

/* Map */
.map_section
{
    max-width: 880px;
    padding: 43px 40px 38px;
    position: relative;
    background: linear-gradient(132.16deg, rgba(255, 189, 109, 0.8) -5.96%, rgba(255, 228, 132, 0.8) 99.46%);
    margin: 0 auto 104px;
}

.map_section_spot
{
    width: 308px;
    height: 308px;
    background: url('../images/red-spot-new.png') no-repeat;
    position: absolute;
    top: -55px;
    right: 51px;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    padding: 131px 32px 108px 80px;
}

.map_wrapper
{
    margin-top: 45px;
    margin-bottom: 20px;
    padding-bottom: 71.4%;
    position: relative;
}

.map_wrapper iframe
{
    width: 100%;
    height: 100%;
    position: absolute;
}

.map_details
{
    display: flex;
}

.map_details_name
{
    font-weight: 700;
    font-size: 23px;
    line-height: 26px;
    width: 182px;
    margin-right: 36px;
}

.map_details_title
{
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    margin: 3px 0 0;
}

.map_details_subtitle
{
    font-size: 16px;
    line-height: 18px;
    margin: 0 0 10px;
}

.map_details_description
{
    font-size: 12px;
    line-height: 14px;
}

.by_car
{
    width: 164px;
    margin-right: 38px;
}

.by_bus
{
    width: 196px;
}

/* FAQ */
.faq_section
{
    margin-bottom: 251px;
}

.questions_and_docs
{
    display: flex;
    justify-content: space-between;
}

.questions
{
    width: 610px;
    margin-right: 30px;
}

.docs
{
    padding-top: 6px;
}

.docs .med .doc_image
{
    display: block;
    width: 140px;
    height: 197px;
    border: 1px solid #e1e1e1;
    margin-bottom: 5px;
}

.docs .med.detail_represent *
{
    z-index: 10;
}

.docs .med.detail_represent .doc_image
{
    position: fixed;
    height: 90%;
    width: 90%;
    top: 5%;
    left: 5%;
    object-fit: contain;
    border: none;
}

.docs .med .blur_bg
{
    display: none;
}

.docs .med.detail_represent .blur_bg
{
    display: initial;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(2px);
}

.docs .med.detail_represent .doc_link
{
    display: none;
}

.docs .doc_link,
.questions .doc_link
{
    color: #0072DB;
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 96, 160, 0.2);
}

.docs .doc_link
{
    font-size: 16px;
    line-height: 20px;
}

.question_title
{
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    color: #070707;
    margin: 0;
}

.question_answer,
.list_item
{
    font-size: 18px;
    line-height: 25px;
    color: #070707;
    margin: 0 0 23px;
}

.list_item
{
    margin: 0 0 20px;
}

.question_answer.last
{
    margin: 0 0 40px;
}

.question_answer.before_next_question
{
    margin: 0 0 31px;
}

.questions_list
{
    padding-left: 64px;
    margin-bottom: 36px;
}

.list_item
{
    margin: 0 0 17px;
}

.question_answer.no_indent
{
    margin-bottom: 0;
}

/* Order */
.order_section
{
    max-width: 880px;
    margin: 0 auto 250px;
    padding: 0 39px;
    /* background: linear-gradient(139.75deg, #FF8A00 35.21%, #FFAF25 89.67%); */
    position: relative;
}

.order_section .content_title,
.order_section .content_text,
.order_section .order_features_list li,
.order_section .submit_button *,
.order_section .form_notice
{
    color: #fff;
}

.order_section .content_text
{
    margin: 0;
    font-size: 18px;
    line-height: 23px;
}

.order_section .order_features_list
{
    list-style: none;
    max-width: 325px;
    margin-bottom: 69px;
}

.order_section .order_features_list li
{
    margin-bottom: 7px;
    font-size: 18px;
    line-height: 23px;
}

.order_form .submit_button
{
    background: #0072DB;
    line-height: 54px;
    width: 310px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    font-size: 18px;
    margin-bottom: 10px;
}

.order_form .submit_button:disabled
{
    cursor: initial;
}

.order_form .content_loading,
.order_form .content_completed,
.order_form.loading .content_default,
.order_form.completed .content_default
{
    display: none;
}

.order_form.loading .content_loading,
.order_form.completed .content_completed
{
    display: initial;
}

.order_form .submit_button:hover,
.order_form .submit_button:focus
{
    background: #0056B3;
}

.order_form.completed .submit_button
{
    background: #6C19FF;
}

.input_tooltip_container
{
    position: relative;
}

.order_form .input_tooltip
{
    display: none;
    position: absolute;
    top: -50px;
    height: auto;
    padding: 6px 12px;
    width: auto;
    background: white;
    border-radius: 5px;
}

.order_form .input_tooltip::after
{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: white transparent transparent transparent;
}

.order_form .input_tooltip.visible
{
    display: inline;
}

.order_form .form_input
{
    line-height: 54px;
    width: 310px;
    display: block;
    background: #fff;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 18px;
    margin-bottom: 11px;
    padding: 0 15px;
}

.order_form .form_input::placeholder
{
    color: #C8C8C8;
}

.order_section .content_title
{
    margin-bottom: 23px;
}

.order_section .form_notice
{
    width: 310px;
}

.order_section .jumping_girl_shadow
{
    position: absolute;
    width: 566px;
    height: 272px;
    right: -302px;
    bottom: -293px;
    background: url(../images/jumping-girl-shadow.png);
}

.form_image
{
    position: absolute;
    top: -194px;
    right: -130px;
}

/* Footer */
.footer_section
{
    display: flex;
    padding: 19px 20px 56px;
}

.footer_section *
{
    color: white;
}

.footer_section .link
{
    text-decoration: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.horizontal_line
{
    position: absolute;
    width: 800px;
    height: 1px;
    margin-top: -19px;
    background-color: white;
}

.phones_wrapper
{
    margin-right: 42px;
    width: 240px;
}

.developers
{
    width: 299px;
    margin-right: 148px;
}

.copyright,
.copyright span
{
    font-size: 14px;
    line-height: 19px;
    margin: 0 0 3px;
}

.phone
{
    display: block;
    margin: 0 0 3px;
    font-size: 16px;
    line-height: 18px;
    color: black;
}

.call_details
{
    display: block;
    margin: 0;
    font-size: 12px;
    line-height: 14px;
}

.developers_list
{
    font-size: 14px;
    line-height: 19px;
}

.bureau
{
    font-size: 14px;
    line-height: 19px;
}

.vk_link
{
    display: inline-block;
    position: relative;
    z-index: 1;
    right: -9px;
}

/* Absolute images */
.shifted_image_block
{
    position: relative;
}

.belt_description
{
    width: 156px;
    position: absolute;
    transform: rotate(-19deg);
    top: 140px;
    left: 201px;
}

.belt_image
{
    margin-top: 46px;
    margin-left: -78px;
}

.dress_description
{
    width: 165px;
    transform: rotate(-19deg);
    position: absolute;
    top: 172px;
    left: 33px;
}

.dress_image
{
    margin-top: -51px;
    margin-left: 129px;
    max-width: none;
}

.national_belt_description
{
    width: 146px;
    transform: rotate(-19deg);
    position: absolute;
    top: 93px;
    left: 75px;
}

.national_belt_image
{
    margin-top: -29px;
    margin-left: -98px;
    max-width: none;
}

@media screen and (min-width: 1281px)
{
    .main_info_section
    {
        margin-top: -50px;
    }

    .content_wrapper
    {
        max-width: 1040px;
    }

    .content_title
    {
        font-size: 38px;
        margin: 0 0 27px;
    }

    .content_text
    {
        font-size: 21px;
        line-height: 27px;
        margin: 0 0 27px;
    }

    .text_part
    {
        max-width: 735px;
    }

    .notice_15_minutes
    {
        width: 182px;
    }

    .notice_15_minutes .fifteen_minutes
    {
        margin-left: 14px;
        margin-bottom: 4px;
    }

    .notice_15_minutes .minutes_text,
    .notice_15_minutes .trip_details_text
    {
        font-size: 18px;
        line-height: 23px;
    }

    .video_caption
    {
        font-size: 18px;
        line-height: 23px;
        margin-top: 10px;
    }

    .main_info_section
    {
        margin-bottom: 101px;
    }

    .content_text.limited_with
    {
        max-width: 752px;
    }

    .different_shifts
    {
        margin-bottom: 55px;
    }

    .photo_caption
    {
        font-size: 18px;
        line-height: 25px;
        margin-top: 8px;
    }

    .content_title.block_title
    {
        margin: 0 0 20px;
    }

    .details_with_photo .details_wrapper
    {
        width: 400px;
        padding-top: 75px;
    }

    .new_skills_title
    {
        font-size: 21px;
        line-height: 27px;
    }

    .details_with_photo .photo_wrapper
    {
        width: 476px;
    }

    .belt_image
    {
        margin-top: 56px;
        margin-left: -97px;
    }

    .belt_description
    {
        font-size: 18px;
        line-height: 23px;
        width: 195px;
        top: 174px;
        left: 251px;
    }

    .shifts_section
    {
        padding-bottom: 78px;
    }

    .photo_caption.limited_width
    {
        width: 475px;
    }

    .details_with_photo.dancing
    {
        margin-top: -38px;
    }

    .details_with_photo.dancing .photo_wrapper
    {
        margin-right: 48px;
    }

    .details_with_photo.dancing .details_wrapper
    {
        padding-top: 103px;
    }

    .dress_image
    {
        margin-top: -61px;
        margin-left: 163px;
    }

    .dress_description
    {
        width: 206px;
        top: 217px;
        left: 59px;
        font-size: 18px;
        line-height: 23px;
    }

    .friendship_section
    {
        padding-top: 141px;
        margin-bottom: 8px;
    }

    .national_belt_image
    {
        margin-top: -65px;
        margin-left: -120px;
    }

    .national_belt_description
    {
        width: 182px;
        top: 95px;
        left: 97px;
        font-size: 18px;
        line-height: 23px;
    }

    .comfort_section .content_text
    {
        max-width: 680px;
    }

    .icon_bottle
    {
        width: 62px;
        height: 129px;
        margin: 0 0 9px 59px;
        background: url(../images/icon-bottle.svg) no-repeat;
    }

    .icon_washing_hands
    {
        width: 95px;
        height: 103px;
        margin: 0 0 22px 39px;
        background: url(../images/icon-hand.svg) no-repeat;
    }

    .small_orange_spot
    {
        padding: 99px 59px 23px 160px;
        width: 466px;
        height: 469px;
        background: url('../images/orange-spot-wide.png') no-repeat;
        top: -15px;
        right: -103px;

    }

    .small_purple_spot
    {
        padding: 77px 58px 50px 106px;
        width: 367px;
        height: 381px;
        background: url(../images/purple-spot-wide.png) no-repeat;
        bottom: -175px;
        left: 343px;
    }

    .spot_text
    {
        font-size: 18px;
        line-height: 23px;
    }

    .comfort_section .content_wrapper
    {
        margin-bottom: 54px;
    }

    .wide_photo_wrapper
    {
        max-width: 1920px;
    }

    .wide_photo_wrapper.bottom
    {
        margin: 37px auto 0;
    }

    .comfort_section
    {
        margin-bottom: 254px;
    }
}

@media screen and (max-width: 1000px)
{
    .lego
    {
        display: none;
    }

    .small_orange_spot,
    .small_purple_spot
    {
        display: none;
    }

    .wide_photo_caption
    {
        display: block;
    }

    .adventures_section .notice_image
    {
        max-width: 120%;
    }

    .comfort_section
    {
        margin-bottom: 100px;
    }

    .activities_section .splash
    {
        display: none;
    }
}

@media screen and (max-width: 920px)
{
    .teachers_section .photo_caption
    {
        font-size: 16px;
        line-height: 20px;
    }

    .leader_name,
    .teacher_name
    {
        display: none;
    }

    .music_section .cartoons img
    {
        margin: 0 0 -10px -10px;
        max-width: 100%;
    }
}

@media screen and (max-width: 880px)
{
    .teachers_section .leader_description
    {
        width: 185px;
    }

    .teachers_section .teacher_description
    {
        right: 45px;
        width: 175px;
    }

    .painting_section .theater
    {
        margin-top: 100px;
    }

    .sticker_wrapper
    {
        display: none;
    }
}

@media screen and (max-width: 860px)
{
    .photo_caption.limited_width
    {
        width: 100%;
    }

    .details_with_photo,
    .details_with_photo.dancing
    {
        margin-top: 18px;
    }

    .shifted_image_block
    {
        display: none;
    }

    .friendship_section
    {
        padding-top: 60px;
        margin-top: 0;
    }

    .adventures_section
    {
        margin-bottom: 35px;
    }

    .adventures_section .description
    {
        width: 580px;
        margin-right: 30px;
    }

    .adventures_section .notice
    {
        width: 240px;
    }

    .adventures_section .notice_image
    {
        max-width: 100%;
        margin-bottom: 24px;
    }

    .painting_section .theater
    {
        margin-right: 0;
    }

    /* Spots */
    .purple_spot
    {
        width: 750px;
        top: -135px;
        transform: translateX(0.4%);
    }

    .yellow_spot
    {
        width: 853px;
        top: -78px;
        transform: translateX(-4%);
    }

    .robotics_section
    {
        margin-bottom: 84px;
    }

    .girl_jumping_wrapper .content_title
    {
        max-width: 360px;
    }
}

@media screen and (max-width: 800px)
{
    .teachers_section .leader_description,
    .teachers_section .teacher_description
    {
        position: static;
        width: 100%;
        max-width: 450px;
    }

    .teachers_section
    {
        margin-bottom: 58px;
    }

    .safety_section .content_title
    {
        text-align: center;
    }

    .safety_features
    {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .mosquito,
    .first_aid,
    .guard
    {
        width: 100%;
        max-width: 300px;
        margin: 0 0 45px;
    }

    .mosquito_icon,
    .first_aid_icon,
    .guard_icon
    {
        margin: 0 auto 10px;
    }

    .map_section .content_title
    {
        padding-right: 260px;
    }

    .map_section_spot
    {
        top: -150px;
        right: 4px;
    }

    .form_image
    {
        top: 0;
        max-width: 60%;
    }

    .jumping_girl_shadow
    {
        display: none;
    }
}

@media screen and (max-width: 720px)
{
    .painting_section .theater
    {
        margin-top: 150px;
    }

    .painting_section .theater .photo_caption
    {
        width: 205px;
    }
}

@media screen and (max-width: 680px)
{
    .painting_section
    {
        flex-wrap: wrap;
    }

    .painting_section .theater
    {
        margin: 0;
        width: 100%;
        text-align: right;
    }

    .painting_section .theater .photo_caption
    {
        left: 0;
        top: 100px;
        width: 38%;
        text-align: left;
        max-width: 205px;
    }

    .docs
    {
        display: none;
    }

    .questions
    {
        margin-right: 0;
    }
}

@media screen and (max-width: 640px)
{
    .shifted_image_block
    {
        display: block;
        overflow: hidden;
    }

    .main_info_section
    {
        margin-top: 10px;
        margin-bottom: 56px;
    }

    .play_button
    {
        width: 100px;
        height: 100px;
    }

    .video_duration
    {
        font-size: 16px;
    }

    .details_with_photo .details_wrapper
    {
        width: 100%;
        margin-right: 0;
        max-width: 460px;
        padding-top: 20px;
    }

    .details_with_photo .photo_wrapper
    {
        display: none;
    }

    .shifts_section
    {
        padding-bottom: 65px;
    }

    .belt_image
    {
        margin-top: 16px;
        margin-left: 0;
        max-width: 50%;
    }

    .belt_description
    {
        top: 85px;
        left: 45%;
    }

    .details_with_photo.dancing .details_wrapper
    {
        padding-top: 50px;
    }

    .dress_image
    {
        margin-top: -21px;
        margin-left: -31px;
        max-width: 87%;
        transform: rotate(-32deg);
    }

    .dress_description
    {
        top: 150px;
        left: 60%;
    }

    .national_belt_image
    {
        max-width: 100%;
        margin-left: 0;
    }

    .national_belt_description
    {
        transform: rotate(-30deg);
        top: 50px;
        left: 128px;
    }

    .comfort_section
    {
        margin-bottom: 60px;
    }

    /* Spots */
    .blue_spot
    {
        width: 710px;
        top: 131px;
        transform: translateX(6.6%);
    }
}

@media screen and (max-width: 620px)
{
    .map_section .content_title
    {
        padding-right: 248px;
    }

    .map_section_spot
    {
        width: 248px;
        height: 251px;
        background: url('../images/red-spot-medium.png') no-repeat;
        top: -107px;
        padding: 84px 32px 108px 90px;
    }

    .form_image
    {
        position: static;
    }

    .girl_jumping_wrapper .content_title
    {
        max-width: 100%;
    }

    .order_section .order_features_list
    {
        margin-bottom: 40px;
    }

    .order_form .form_input,
    .order_form .submit_button
    {
        width: 100%;
    }

    .order_section
    {
        padding-bottom: 0;
    }

    .form_image
    {
        max-width: 100%;
        margin-top: 20px;
        margin-bottom: -100px;
    }
}

@media screen and (max-width: 580px)
{
    .food_menu_section
    {
        margin-bottom: 80px;
    }

    .adventures_section .content_wrapper
    {
        flex-wrap: wrap;
    }

    .adventures_section .notice
    {
        display: flex;
        width: 100%;
        align-items: center;
    }

    .adventures_section .notice_image
    {
        margin: 0;
        order: 2;
        width: 50%;
        margin-top: -15px;
    }

    .adventures_section .notice_description
    {
        order: 1;
        padding-right: 20px;
        width: 50%;
        font-size: 14px;
        line-height: 18px;
        margin-top: 0;
    }

    .music_section
    {
        flex-direction: column-reverse;
        margin-bottom: 40px;
    }

    .music_section .music
    {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
    }

    .music_section .music img,
    .music_section .cartoons img
    {
        margin: 0;
    }

    .music_section .cartoons
    {
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }

    .music_section .cartoons img
    {
        max-width: 50%;
    }

    .music_section .cartoons .photo_caption
    {
        padding: 0 15px 0 0;
        width: auto;
    }

    .music_section .music .photo_caption
    {
        width: 80%;
        max-width: 335px;
        padding: 0;
    }

    .activities_section
    {
        margin-bottom: 42px;
    }

    .map_details
    {
        flex-wrap: wrap;
    }

    .map_section
    {
        padding-left: 15px;
        padding-right: 15px;
    }

    .map_details_name
    {
        width: 100%;
        margin-bottom: 20px;
    }

    .by_car
    {
        margin: 0;
        width: 40%;
        padding-right: 20px;
    }

    .by_bus
    {
        width: 60%;
        padding: 0;
        margin: 0;
    }
}

@media screen and (max-width: 540px)
{
    .map_section .content_title
    {
        padding-right: 127px;
    }

    .map_section_spot
    {
        width: 166px;
        height: 166px;
        background: url('../images/red-spot-small.png') no-repeat;
        top: -64px;
        padding: 48px 27px 108px 56px;
        font-size: 14px;
        line-height: 16px;
    }
}

@media screen and (max-width: 480px)
{
    body
    {
        overflow-x: hidden;
    }

    .block_with_background,
    .block_with_background.friendship_section
    {
        overflow-x: visible;
    }

    .small_spot_image
    {
        display: block;
    }

    .big_spot_image
    {
        display: none;
    }

    .content_wrapper
    {
        padding-right: 15px;
        padding-left: 15px;
    }

    .play_button
    {
        width: 75px;
        height: 75px;
    }

    .video_duration
    {
        font-size: 12px;
    }

    .content_title
    {
        font-size: 24px;
        line-height: 30px;
        margin: 0 0 18px;
    }

    .content_text
    {
        font-size: 16px;
        line-height: 21px;
        margin: 0 0 16px;
        max-width: 280px;
    }

    .safety_feature_text,
    .safety_feature_title
    {
        font-size: 16px;
        line-height: 20px;
    }

    .question_answer,
    .list_item,
    .question_title
    {
        font-size: 16px;
        line-height: 20px;
    }

    .map_details_title,
    .map_details_subtitle
    {
        font-size: 14px;
        line-height: 18px;
    }

    .mosquito,
    .first_aid,
    .guard
    {
        max-width: 280px;
        margin: 0 0 30px;
    }

    .new_skills_title
    {
        font-size: 16px;
        line-height: 21px;
    }

    .main_info_section
    {
        margin-top: 24px;
        margin-bottom: 54px;
    }

    .block_with_notice
    {
        flex-wrap: wrap;
        justify-content: center;
    }

    .notice_15_minutes
    {
        margin-top: -3px;
    }

    .notice_15_minutes .fifteen_minutes
    {
        margin-left: 23px;
        margin-top: 7px;
        width: 110px;
    }

    .notice_15_minutes .minutes_text,
    .notice_15_minutes .trip_details_text
    {
        font-size: 14px;
        line-height: 18px;
    }

    .top_block_video
    {
        margin-top: 34px;
    }

    .video_caption,
    .photo_caption,
    .photo_caption.application_caption
    {
        font-size: 13px;
        line-height: 16px;
    }

    .photo_caption
    {
        margin-top: 7px;
    }

    .content_title.block_title
    {
        margin: 0 0 14px;
    }

    .different_shifts
    {
        margin-bottom: 50px;
    }

    .details_with_photo .details_wrapper
    {
        padding-top: 14px;
        max-width: 90%;
    }

    .details_with_photo.dancing .details_wrapper
    {
        padding-top: 17px;
    }

    .dress_image
    {
        max-width: 80%;
        margin-top: -13px;
        margin-left: -35px;
    }

    .dress_description
    {
        left: 50%;
        top: 110px;
    }

    .friendship_section
    {
        padding-top: 25px;
    }

    .national_belt_description
    {
        font-size: 12px;
        line-height: 14px;
        top: 38px;
        left: 108px;
    }

    .food_menu_large
    {
        display: none;
    }

    .food_menu_small
    {
        display: block;
        margin-top: 10px;
    }

    .adventures_section .notice
    {
        margin-top: 20px;
    }

    .painting_section .painting
    {
        display: flex;
        width: 100%;
    }

    .picture_frame
    {
        width: 60%;
    }

    .photo_caption.application_caption
    {
        width: 40%;
        padding-left: 15px;
        margin-top: 28px;
    }

    .activities_section .photo_caption_wrapper
    {
        margin-bottom: 30px;
    }

    .robotics_section
    {
        margin-bottom: 48px;
    }

    .teachers_section .leader_description,
    .teachers_section .teacher_description
    {
        max-width: 315px;
    }

    .map_wrapper
    {
        margin-top: 30px;
    }

    .map_section
    {
        margin-bottom: 58px;
    }

    .hide_on_small
    {
        display: none;
    }

    /* Spots */
    .blue_spot
    {
        width: 458px;
        top: 268px;
        transform: translateX(-8.4%);
    }

    .yellow_spot
    {
        width: 807px;
        top: -270px;
        transform: translateX(-16.5%);
    }

    .footer_section
    {
        flex-wrap: wrap;
    }

    .phones_wrapper
    {
        width: 100%;
        display: flex;
        margin: 0;
        margin-bottom: 20px;
    }

    .copyright
    {
        margin-right: 20px;
    }

    .phone_details
    {
        flex-shrink: 0;
    }
}

@media screen and (max-width: 440px)
{
    .belt_description,
    .dress_description,
    .national_belt_description
    {
        font-size: 12px;
        line-height: 14px;
    }

    .belt_description
    {
        width: 140px;
        top: 80px;
    }

    .dress_description
    {
        width: 126px;
        left: 51%;
        top: 80px;
    }

    .national_belt_description
    {
        width: 105px;
        top: 49px;
        left: 116px;
    }
}

@media screen and (max-width: 420px)
{
    .national_belt_image
    {
        margin-top: -10px;
    }

    .national_belt_description
    {
        transform: none;
        position: relative;
        width: 150px;
        top: -40px;
        left: 50px;
    }

    .friendship_section
    {
        margin-bottom: 25px;
    }
}

@media screen and (max-width: 380px)
{
    .map_section .content_title
    {
        padding-right: 0;
        margin-top: 40px;
    }
}

@media screen and (max-width: 360px)
{
    .belt_description
    {
        top: 60px;
    }

    .painting_section .painting
    {
        margin-bottom: 20px;
    }

    .picture_frame
    {
        width: 40%;
    }

    .photo_caption.application_caption
    {
        width: 60%;
        margin-top: 10px;
    }
}
