*
{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    color: #000;
    box-sizing: border-box;
}

iframe
{
    border: none;
}

img
{
    max-width: 100%;
}

.not_underlined {
    text-decoration: none;
}

.indivisible_text
{
    display: inline-block;
}

.content_wrapper
{
    max-width: 840px;
    margin: 0 auto;
    padding: 0 20px;
}

.content_title
{
    font-size: 33px;
    font-weight: 700;
    color: #030303;
    margin: 0 0 23px;
}

.content_title.block_title
{
    margin: 0 0 16px;
}

.content_text
{
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    margin: 0 0 22px;
}

.content_text.limited_with
{
    max-width: 600px;
}

.video_wrapper
{
    position: relative;
    cursor: pointer;
}

.video_wrapper:hover .play_button
{
    transform: translate(-50%, -50%) scale(1.1);
}

.play_button
{
    transition: transform 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 134px;
    height: 134px;
    background: url('../images/play-button.svg');
    top: 50%;
    left: 50%;
}

.video_duration
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 700;
    font-size: 20px;
    line-height: 1;
}

.main_info_section .video_wrapper,
.dancing_section .video_wrapper
{
    width: 800px;
    height: 450px;
}

.video_wrapper .video_frame,
.video_wrapper .video_poster
{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video_wrapper .video_poster,
.video_wrapper .play_button,
.video_wrapper .video_duration
{
    display: none;
}

.video_wrapper.custom_play_button .video_poster,
.video_wrapper.custom_play_button .play_button,
.video_wrapper.custom_play_button .video_duration
{
    display: initial;
    position: absolute;
}

.video_caption
{
    font-size: 16px;
    line-height: 20px;
    margin-top: 8px;
}

.block_with_background
{
    overflow-x: hidden;
    position: relative;
}

.blue_spot
{
    position: absolute;
    width: 910px;
    top: 49px;
    left: 50%;
    transform: translateX(-8.7%);
    z-index: -1;
}

.purple_spot
{
    position: absolute;
    width: 1354px;
    top: -27px;
    left: 50%;
    transform: translateX(-68.6%);
    z-index: -1;
}

.yellow_spot
{
    position: absolute;
    width: 1086px;
    top: -12px;
    left: 50%;
    transform: translateX(-16%);
    z-index: -1;
}

.photo_caption_wrapper
{
    display: flex;
}

.photo_caption_wrapper.right
{
    justify-content: flex-end;
}

.photo_caption
{
    font-size: 16px;
    line-height: 20px;
    margin-top: 6px;
}

.photo_caption.application_caption
{
    line-height: 21px;
}

.photo_caption_title
{
    font-weight: 700;
}

.photo_caption_title.single_line
{
    display: block;
}

.photo_caption.limited_width
{
    width: 381px;
}

.new_skills_title
{
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    margin: 0;
}

/* Main info */
.main_info_section
{
    margin-top: -27px;
    margin-bottom: 94px;
}

.block_with_notice
{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.text_part
{
    max-width: 600px;
    margin-right: 20px;
}

.top_block_video
{
    margin-top: 25px;
}

/* 15 minutes notice */
.notice_15_minutes
{
    width: 160px;
    flex-shrink: 0;
}

.notice_15_minutes .fifteen_minutes
{
    display: block;
    margin-left: 9px;
}

.notice_15_minutes .minutes_text
{
    color: #FF9516;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    margin: 0;
    text-align: center;
}

.notice_15_minutes .trip_details_text
{
    text-align: center;
    font-size: 16px;
    line-height: 20px;
}

/* Different shifts */
.shifts_section
{
    padding-bottom: 44px;
}

.different_shifts
{
    margin-bottom: 48px;
}

/* Details with photo */
.details_with_photo
{
    display: flex;
    justify-content: space-between;
    margin-top: -10px;
}

.details_with_photo .details_wrapper
{
    width: 340px;
    margin-right: 20px;
    padding-top: 70px;
}

.details_with_photo .photo_wrapper
{
    width: 380px;
    flex-grow: 0;
}

.details_with_photo .photo_wrapper img
{
    display: block;
}

/* Dancing */
.dancing_section
{
    margin-bottom: 0;
}

.details_with_photo.dancing
{
    justify-content: flex-start;
    margin-top: -31px;
}

.details_with_photo.dancing .details_wrapper
{
    margin-right: 0;
    padding-top: 91px;
}

.details_with_photo.dancing .photo_wrapper
{
    margin-right: 40px;
}

/* Friendship */
.friendship_section
{
    padding-top: 137px;
    margin-top: -160px;
    margin-bottom: 46px;
}

.friendship_section .details_wrapper
{
    width: 375px;
}

/* Comfort */
.comfort_section
{
    margin-bottom: 196px;
}

.comfort_section .content_wrapper
{
    position: relative;
    margin-bottom: 32px;
}

.comfort_section .content_text
{
    max-width: 560px;
}

.small_orange_spot
{
    padding: 49px 47px 10px 92px;
    width: 317px;
    height: 312px;
    background: url('../images/orange-spot.png') no-repeat;
    position: absolute;
    top: 22px;
    right: -40px;
}

.small_purple_spot
{
    padding: 61px 58px 50px 81px;
    width: 297px;
    height: 303px;
    background: url('../images/purple-spot.png') no-repeat;
    position: absolute;
    bottom: -140px;
    left: 160px;
}

.icon_bottle
{
    width: 48px;
    height: 98px;
    margin: 0 0 9px 59px;
    background: url('../images/icon-bottle.svg') no-repeat;
}

.icon_washing_hands
{
    width: 74px;
    height: 80px;
    margin: 0 0 19px 39px;
    background: url('../images/icon-hand.svg') no-repeat;
}

.wide_photo_wrapper
{
    max-width: 1280px;
    margin: 0 auto 30px;
}

.wide_photo_wrapper.bottom
{
    position: relative;
    margin: 0 auto;
}

.spot_text
{
    color: #fff;
    font-size: 16px;
    line-height: 20px;
}

/* Food menu */
.food_menu_section
{
    margin-bottom: 100px;
}

.food_menu_section .content_wrapper
{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 0;
    position: relative;
}

.food_menu_section .description
{
    width: 510px;
}

.food_menu_section .menu_wrapper
{
    width: 100%;
    margin-top: 10px;
}

.sticker_wrapper
{
    position: absolute;
    right: 4px;
    top: 12px;
    width: 298px;
}

/* Adventures */
.adventures_section
{
    margin-bottom: 12px;
}

.adventures_section .content_wrapper
{
    display: flex;
    justify-content: space-between;
}

.adventures_section .description
{
    width: 580px;
}

.adventures_section .notice
{
    width: 186px;
}

.adventures_section .notice_description
{
    font-size: 16px;
    line-height: 21px;
    margin-top: -28px;
}

.adventures_section .notice_image
{
    margin-top: -21px;
    max-width: none;
    margin-left: -2px;
    margin-bottom: 39px;
}

.adventures_section .notice_title
{
    display: block;
    font-weight: 700;
}

/* Reconstruction */
.reconstruction_section
{
    margin-bottom: 42px;
}

/* Painting */
.painting_section
{
    display: flex;
    margin-bottom: 62px;
}

.painting_section .painting
{
    width: 392px;
    margin-right: -24px;
}

.painting_section .theater
{
    width: 490px;
    margin-left: -35px;
    margin-top: -7px;
    margin-right: -25px;
    position: relative;
}

.painting_section .theater .photo_caption
{
    position: absolute;
    left: -40px;
    bottom: 209px;
    width: 250px;
}

.picture_frame
{
    margin-bottom: 31px;
}

.painting .photo_caption
{
    max-width: 234px;
}

/* Activities */
.activities_section
{
    position: relative;
    margin-bottom: 62px;
}

.activities_section .photo_caption_wrapper
{
    margin-bottom: 49px;
}

.activities_section .splash
{
    position: absolute;
    width: 593px;
    height: 438px;
    bottom: -72px;
    left: -218px;
    background: url('../images/splash.png') no-repeat;
}

/* Music */
.music_section
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 76px;
}

.music_section .music
{
    width: 508px;
}

.music_section .music img
{
    margin-left: -36px;
    margin-top: 36px;
}

.music_section .music .photo_caption
{
    width: 272px;
}

.music_section .cartoons
{
    width: 240px;
}

.music_section .cartoons img
{
    margin: 21px 0 26px -8px;
}

.music_section .cartoons .photo_caption
{
    margin-top: 10px;
}

/* Robotics */
.robotics_section
{
    position: relative;
    margin-bottom: 148px;
}

.lego
{
    position: absolute;
    width: 376px;
    height: 346px;
    bottom: -30px;
    right: -169px;
    background: url('../images/lego.png') no-repeat;
}

/* Teachers */
.teachers_section
{
    background: radial-gradient(106.82% 161.12% at 52.49% 19.11%, #FFAF25 0%, #FF9516 40.62%, #FF8A00 100%);
    padding-top: 59px;
    margin-bottom: 106px;
}

.teachers_section .content_title,
.teachers_section .leader_description,
.teachers_section .leader_name,
.teachers_section .teacher_description,
.teachers_section .teacher_name,
.teachers_section .photo_caption,
.teachers_section .photo_caption_title,
.teachers_section .indivisible_text
{
    color: #fff;
}

.teachers_section .leader_description
{
    position: absolute;
    left: 21px;
    top: 89px;
    width: 210px;
}

.teachers_section .leader_name
{
    position: absolute;
    left: 20px;
    bottom: 30px;
}

.teachers_section .teacher_description
{
    position: absolute;
    right: -5px;
    top: 89px;
    width: 212px;
}

.teachers_section .teacher_name
{
    position: absolute;
    right: -2px;
    bottom: 30px;
}

.teachers_section .content_wrapper
{
    position: relative;
}

.teachers_photo
{
    display: block;
    margin: 38px auto 0;
    transform: translateX(-5px);
}

.teachers_section .photo_caption
{
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 22px;
}

/* Safety */
.safety_section
{
    margin-bottom: 128px;
}

.safety_features
{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.safety_feature_title
{
    font-weight: 700;
    margin: 0;
}

.safety_feature_text,
.safety_feature_title
{
    font-size: 18px;
    line-height: 23px;
}

.mosquito
{
    width: 222px;
}

.first_aid
{
    width: 248px;
}

.guard
{
    width: 245px;
}

.mosquito_icon
{
    width: 72px;
    height: 71px;
    background: url('../images/icon-mosquito.svg') no-repeat;
    margin-bottom: 24px;
    margin-left: -4px;
}

.first_aid_icon
{
    width: 88px;
    height: 69px;
    background: url('../images/icon-first-aid-post.svg') no-repeat;
    margin-bottom: 25px;
    margin-left: -7px;
}

.guard_icon
{
    width: 88px;
    height: 57px;
    background: url('../images/icon-guard.svg') no-repeat;
    margin: 12px 0 25px;
    margin-left: -2px;
}

/* Map */
.map_section
{
    max-width: 880px;
    padding: 42px 40px 35px;
    position: relative;
    background: linear-gradient(132.16deg, rgba(255, 189, 109, 0.8) -5.96%, rgba(255, 228, 132, 0.8) 99.46%);
    margin: 0 auto 104px;
}

.map_section_spot
{
    width: 308px;
    height: 308px;
    background: url('../images/red-spot-new.png') no-repeat;
    position: absolute;
    top: -58px;
    right: 58px;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    padding: 127px 32px 108px 88px;
}

.map_wrapper
{
    margin-top: 30px;
    margin-bottom: 17px;
}

.map_details
{
    display: flex;
}

.map_details_name
{
    font-weight: 700;
    font-size: 23px;
    line-height: 26px;
    width: 182px;
    margin-right: 36px;
}

.map_details_title
{
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    margin: 3px 0 0;
}

.map_details_subtitle
{
    font-size: 16px;
    line-height: 18px;
    margin: 0 0 10px;
}

.map_details_description
{
    font-size: 12px;
    line-height: 14px;
}

.by_car
{
    width: 164px;
    margin-right: 38px;
}

.by_bus
{
    width: 196px;
}

/* FAQ */
.faq_section
{
    margin-bottom: 108px;
}

.questions_and_docs
{
    display: flex;
    justify-content: space-between;
}

.questions
{
    width: 610px;
    margin-right: 30px;
}

.docs
{
    padding-top: 6px;
}

.docs .med .doc_image
{
    display: block;
    width: 140px;
    height: 197px;
    border: 1px solid #e1e1e1;
    margin-bottom: 5px;
}

.docs .med.detail_represent .doc_image {
    position: fixed;
    height: 90%;
    width: 90%;
    top: 5%;
    left: 5%;
    object-fit: contain;
    border: none;
}

.docs .med .blur_bg {
    display: none;
    z-index: -1;
}

.docs .med.detail_represent .blur_bg {
    display: initial;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(2px);
}

.docs .med.detail_represent .doc_link {
    display: none;
}

.docs .doc_link,
.questions .doc_link
{
    color: #0072DB;
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 96, 160, 0.2);
}

.docs .doc_link
{
    font-size: 16px;
    line-height: 20px;
}

.question_title
{
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    color: #070707;
    margin: 0;
}

.question_answer,
.list_item
{
    font-size: 18px;
    line-height: 25px;
    color: #070707;
    margin: 0 0 23px;
}

.list_item
{
    margin: 0 0 20px;
}

.question_answer.last
{
    margin: 0 0 40px;
}

.question_answer.before_next_question
{
    margin: 0 0 31px;
}

.questions_list
{
    padding-left: 64px;
    margin-bottom: 36px;
}

.list_item
{
    margin: 0 0 17px;
}

.question_answer.no_indent
{
    margin-bottom: 0;
}

/* Order */
.order_section
{
    max-width: 880px;
    margin: 0 auto 100px;
    padding: 43px 39px 40px;
    background: linear-gradient(139.75deg, #FF8A00 35.21%, #FFAF25 89.67%);
    position: relative;
}

.order_section .content_title,
.order_section .content_text,
.order_section .order_features_list li,
.order_section .submit_button,
.order_section .form_notice
{
    color: #fff;
}

.order_section .content_text
{
    margin: 0;
    font-size: 18px;
    line-height: 23px;
}

.order_section .order_features_list
{
    list-style: none;
    max-width: 325px;
    margin-bottom: 83px;
}

.order_section .order_features_list li
{
    margin-bottom: 7px;
    font-size: 18px;
    line-height: 23px;
}

.order_form .submit_button
{
    background: #0072DB;
    line-height: 54px;
    width: 310px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    font-size: 18px;
    margin-bottom: 10px;
}

.order_form .form_input
{
    line-height: 54px;
    width: 310px;
    display: block;
    background: #fff;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 18px;
    margin-bottom: 11px;
    padding: 0 15px;
}

.order_form .form_input::placeholder
{
    color: #C8C8C8;
}

.order_section .form_notice
{
    width: 226px;
}

.order_section .jumping_girl_shadow {
    position: absolute;
    width: 430px;
    height: 167px;
    right: -225px;
    bottom: -265px;
    background: url(../images/jumping-girl-shadow.png);
}

.form_image
{
    position: absolute;
    top: -94px;
    right: -40px;
}

/* Footer */
.footer_section
{
    display: flex;
    justify-content: space-between;
    padding: 19px 20px 50px;
}

.phones_wrapper
{
    margin-right: 39px;
    width: 240px;
}

.developers
{
    flex-grow: 1;
    width: 284px;
    margin-right: 20px;
}

.copyright,
.copyright span
{
    font-size: 14px;
    line-height: 18px;
    color: #0072DB;
    margin: 0;
}

.phone
{
    display: block;
    margin: 0 0 3px;
    font-size: 16px;
    line-height: 18px;
}

.call_details
{
    display: block;
    margin: 0;
    font-size: 12px;
    line-height: 14px;
}

.developers_list
{
    font-size: 14px;
    line-height: 19px;
}

.bureau
{
    font-size: 14px;
    line-height: 19px;
    color: #0072DB;
}

/* Absolute images */
.shifted_image_block
{
    position: relative;
}

.belt_description
{
    width: 156px;
    position: absolute;
    transform: rotate(-19deg);
    top: 127px;
    left: 203px;
}

.belt_image
{
    margin-top: 29px;
    margin-left: -53px;
}

.dress_description
{
    width: 165px;
    transform: rotate(-19deg);
    position: absolute;
    top: 136px;
    left: 33px;
}

.dress_image
{
    margin-top: -87px;
    margin-left: 127px;
    max-width: none;
}

.national_belt_description
{
    width: 146px;
    transform: rotate(-19deg);
    position: absolute;
    top: 62px;
    left: 75px;
}

.national_belt_image
{
    margin-top: -62px;
    margin-left: -98px;
    max-width: none;
}
